body {
background-color:#2e2e2e;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.description {
font-size: 20px;
	font-family: 'montserrat', san-serif;
	line-height: 1.2; /* Improves readability */
	color: #ffff;
	text-align: left;
	width: 700px;
	height: 150px;
	text-align: justify;
}
.divider {
            height: 0.5px;                /* Thin line */
            background-color: #FFFF;      /* Line color */
            margin: 20px 0;              /* Space above and below the line */
            width: 100%;                 /* Full width of the page */
        }
/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the body */
h1 {
            font-size: 85px;      /* Makes the font size larger */
            font-weight: 900;     /* Makes the text extra bold */
			color: #ff5733;
			position: absolute;
			left: 45%;
			top: 220px;
			font-family: 'bell mt', serif;
        }
h2 {
            font-size: 40px;      /* Makes the font size larger */
            font-weight: 900;     /* Makes the text extra bold */
			text-align:left;
			font-family: 'bell mt', serif;
        }
		
section {
    padding: 100px;
    min-height: 100vh;   /* Make each section fill the viewport */
}
/*about page*/
#home {
	background-color: #2e2e2e;
}
#about {
    background-color: #2e2e2e;
}
#portfolio {
	background-color:#2e2e2e;
}
#contact {
	background-color: #2e2e2e;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.MUF {
	font-size: 20px;      /* Makes the font size larger */
	font-weight: 30%;
	font-family: 'bell mt', serif;

}
.divider {
            height: 1px;                /* Thin line */
            background-color: #333;      /* Line color */
            margin: 20px 0;              /* Space above and below the line */
            width: 100%;                 /* Full width of the page */
        }

        section {
            padding: 20px;
        }
.footer {
	text-align: left;
	position: absolute;
	top: 2600px;
	color: #ffff;
	
}
.footer a {
    margin: 0 2px; /* Adds horizontal space between icons */
    color: #fff; /* Example color for the icons */
    font-size: 24px; /* Size of the icons */
    text-decoration: none; /* Remove underline from links */
}